.navbar-brand > img{
    width: 200px;
  height: 70px;
}
.topbar-profile-photo {
    width: 39px; 
    height: 39px; 
    position: relative;
}
.link-menu{
    color: black;
  height: 26px;
  width: 26px;
}
.story-profile-photo {
    width: 70px; 
    height: 70px; 
    position: relative; 
    cursor: pointer;
}
.story-profile-photo .post-profile-photo .sidenav-profile-photo .sugest-profile-photo .topbar-profile-photo > img{
    transform: scale(1.5);
    width: 100%;
    position: absolute;
    left: 0;
}
.post-profile-photo {
    width: 54px; 
    height: 54px; 
    position: relative; 
}
.sidenav-profile-photo >img {
    width: 56px; 
    height: 56px; 
    position: relative; 
    border-radius: 50%;
    border: 2px solid red;
    padding: 2px;
}
.profile-info {
    font-size: 14px;
}

.profile-info-username {
    display: block;
    font-weight: 700;
}
#follow{ 
    font-size: smaller;
    float: right; 
    color: #4296db;
    cursor: pointer;
    align-items: center;
    
}
#fol{
    font-size: smaller;
    float: right; 
    color: solid black;
    cursor: pointer;
    align-items: center;
}
.sugest-profile-photo {
    width: 46px; 
    height: 46px;  
    position: relative;
}
.sc > a{
    font-size: smaller;
    color: gray;
    text-decoration: none;
}
#cr {
    font-weight: lighter; 
    color: gray; 
    margin-top: 20px; 
    font-size: smaller;
}
.borderless{
    border: none;
}
.topbar{
    width: 26px; 
    height: 26px; 
    position:relative;
}
.story-profile-photo  > img{
    border: 2px solid red;
    padding: 2px;
    border-radius: 50%;
}
.sugest-profile-photo > img{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 2px solid red;
    padding: 2px;
}
.post-profile-photo > img{
    border: 2px solid red;
    padding: 2px;
    border-radius: 50%;
    width: 54px; 
    height: 54px; 
}
.card-body{
    padding: 0px !important;
}
