
.topbar-profile-photo {
    width: 30px; 
    height: 30px; 
    position: relative;
}
.navbar {
    border-bottom: 1px solid #ccc;
    height: 80px;
    max-width: 100%;
    justify-content: space-around;
}
.navbar-brand > img{
    width: 200px;
  height: 70px;
}
.story-profile-photo {
    width: 70px; 
    height: 70px; 
    position: relative; 
    border-width: 2px solid red;
    cursor: pointer;
}
.story-profile-photo > img{
    transform: scale(1.5);
    width: 100%;
    position: absolute;
    left: 0;
}
.post-profile-photo {
    width: 46px; 
    height: 46px; 
    position: relative; 
    border-width: 2px;
}
#bookmark {
    margin-left: 530px;
    float: right;
}
.profile-info {
    font-size: 14px;
}

.profile-info-username {
    display: block;
    font-weight: 700;
}

.sugest-profile-photo {
    width: 46px; 
    height: 46px;  
    position: relative;
}
.sugest-profile-photo > img{
    transform: scale(1.5);
    width: 100%;
    position: absolute;
    left: 0;

}
.sugest-username {
    font-size: 14px
}
.sidenav-profile-photo {
    width: 56px; 
    height: 56px; 
    position: relative; 
}
.sidenav-profile-photo > img{
    transform: scale(1.5);
    width: 100%;
    position: absolute;
    left: 0;

}
.sc {
    margin-top: 50px;
}
.sc > a {
    font-size: smaller;
    color: gray;
    text-decoration: none;
}
#cr {
    font-weight: lighter; 
    color: gray; 
    margin-top: 20px; 
    font-size: smaller;
}
#follow{ 
    font-size: smaller;
    float: right; 
    color: #4296db;
    cursor: pointer;
    align-items: center;
    
}
#fol{
    font-size: smaller;
    float: right; 
    color: solid black;
    cursor: pointer;
    align-items: center;
}
