
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html,body{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background: #FAFAFA;
}
.head {
    display: flex;
    background: #ffffff;
    height: 80px;
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    justify-content: space-around;
    align-items: center;
}
.head > img {
  width: 200px;
  height: 70px
}
.icons{
    display: flex;
    justify-content: space-around;
    width: 200px;
    align-items: center;
    
}
.icons > a > img {
    margin-right: 15px;
}
.inputWithIcon {
    position: relative;
}
input[type=text]{
    width: 250px;
    border: 2px solid #aaa;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    text-color: grey;
}
.inputWithIcon i {
    position: absolute;
    top: 10px;
    left: 80px;
    color: grey;
}


.profile {
    height: 35px;
    width: 35px;
}
.profile > a > img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.story {
    display: inline-flex;
    justify-content: space-around;
    background: white;
    align-items: center;
    border: 2px solid #cccccc;
    width: 60%;
    height: 130px;
    margin-top: 60px;
    border-radius: 5px;
}
.story > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }
  
.story > div > a > img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 2px solid red;
    padding: 2px;

}
.post {
    display: inline-block;
    height: 750px;
    width: 60%;
    background: white;
    margin-top: 40px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin-bottom:200px;

}
.postheader {
    width: 100%;
    height: 60px;
    display: inline-flex;
    align-items: center;
}
.postheader > a > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid red;
    align-items: center;
    margin-left: 8px;
    margin-right: 7px;

}

.dots > a > img {
    display: inline-block;
    margin-left: 430px;
}



.iphone > img {
    width: 100%;
    height: 500px;
}


.mainprofile {
    float: right;
    /*border: 2px solid #cccccc;*/
    width: 380px;
    height: 800px;
    margin-top: 80px;
    
    
}
#dp {
    float: left;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin-left: 20px;
    margin-top: 10px;
}
#pf {
  margin-left: 100px; 
  margin-top:25px;
}
.postoptions {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
}
.sideprofile1 > a > img {
    float: left;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 2px solid red;
    padding: 2px;
}
.sideprofile1 {
    margin-top: 45px;
    margin-left: 10px;
    
}
#spname {
    position: relative;
    display: flex;
    top: 10px;
    left: 20px;
    font-size: 15px; 
    font-weight: bold;

}
#popular {
    margin-left: 20px; 
    font-size: 15px; 
    font-weight: lighter; 
    color: gray;
}
#follow{ 
    float: right; 
    color: #64aeea;
}
#sfy1 {
    color: gray; 
    margin-top: 50px; 
    margin-left: 15px; 
    font-weight: bold;
}
#sfy2 {
    float: right; 
    color: black; 
    font-weight: normal; 
    
}
#arbaznagaria {
    font-weight: lighter; 
    color: gray;
}
#copyright {
    font-weight: lighter; 
    color: gray; 
    margin-top: 20px; 
    font-size: small;
}
#bookmark {
    float: right;
}
#more {
    font-weight: lighter; 
    color: gray;
}
#likess {
    margin-left: 17px;
}
#viewcomments {
    margin-left: 17px; 
    font-weight: lighter; 
    color: gray;
}
.sidecontents {
    margin-top: 70px;
}
.sidecontents > a {
    font-size: smaller;
    color: gray;
    text-decoration: none;
}
