div {
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px;
    font-family: sans-serif;
  }
  input[type=text]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit]{
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    padding: 10px;
    background-color:black;
    min-height: 50px;
    color: white;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    border: 2px solid green;
    padding: 10px;
    background-color: black;
    color: white;
}
