*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html,body{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background: #FAFAFA;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.content{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 100%;
    margin: 5px;
}
.search{
    position: absolute;
    left: 50%;
    width: 200px;
    height: 25px;
    background-color: #fffbfb;
    border: 1px solid black;
    border-radius: 2px;
    color: rgba(0,0,0,0.5 );
    text-align: left;
    }
    .item{
        height: 20px;
        position: relative;
    }
    .icon{
        height: 100%;
        margin: 0 10px;
        display: inline-block;
    }
    .profile{
        height: 100%;
        margin: 0 10px;
        width: 24px;
        display: inline-block;
        border-radius: 50%;
    }
    .main{
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: left;
        margin-top: 50px;
    }
    .wr{
        width: 70%;
        max-width: 1000px;
        display: grid;
        grid-gap: 30px;
    }
    .left{
        display: flex;
        flex-direction: column;
    }

    .status{
        width: 100%;
        height: 100px;
        background: #fff;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        padding: 10px;
        padding-right: 0;
        display: flex;
        align-items: center;
        overflow: hidden;

    }
    .card{
        flex: 0 0 auto;
        width: 80px;
        max-width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
    }
    .pic{
        width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
    }
    .pic img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        border-radius: 50%;
        
    }
    .username{
        width: 100%;
        overflow: hidden;
        text-align: center;
        font-size: 12px;
        margin-top: 5px;
        color: rgba(0, 0, 0, 0.822);
    }
    
    .info{
        width: 100%;
        height: 6
        0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .info .usernam{
        width: auto;
        font-weight: bold;
        color: black;
        font-size: 14px;
        margin-left: 10px;
    }
    .info .options{
        height: 10px;
        cursor: pointer;

    }
    .info .user{
        display: flex;
        align-items: center;
    }
    .post {
        display: inline-block;
        height: 750px;
        width: 60%;
        background: white;
        margin-top: 40px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-bottom:200px;
    
    }
    .postheader {
        width: 100%;
        height: 60px;
        display: inline-flex;
        align-items: center;
    }
    .postheader > a > img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid red;
        align-items: center;
        margin-left: 8px;
        margin-right: 7px;
    
    }
    .post-image{
        width: 50%;
        height: 500px;
        object-fit: contain;
    }
    .post-image > a > img{
        width: 50%;
        height: 50%;
        object-fit: contain;
        
    }
    .dots > a > img {
        display: inline-block;
        margin-left: 330px;
    }
    .tent{
        width: 100%;
        padding: 20px;
    }
    .likes{
        font-weight: bold;
    }
    .desc{
        margin: 10px;
        font-size: 12px;
        line-height: 20px;
    }
    .desc span{
        font-weight: bold;
        margin: 10px;
    }
    .time{
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
    }
    .comment{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .comment .icon{
        height: 30px;
    }
    .comment-box{
        width: 80%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
    }
   

    .reaction{
        width: 100%;
        height: 50px;
        display: flex;
        margin-top: -20px;
        align-items: center;
    }
    .reaction .icon{
        height: 25px;
    margin: 0;
    margin-right: 20px;
    }
    .reaction.icon.save{
        margin-left: auto;
    }
