.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    min-height: 50px;
}
.content>p {
    align-self: flex-start;
    font-size: 20px;

}
.container {
    display: flex;
    flex-direction: column;
}
.ad {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    min-width: 40%;
    border: 2px solid black;
    align-self: flex-start;
    margin-top: 25px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}
