.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 10px solid green;
    padding: 20px;
    color: black;
    background-color: yellow;
}
#right{
    position: absolute;
    right: 0px;
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
}

 #left{
        position: absolute;
        left: 0px;
        width: 300px;
        border: 2px solid black;
        padding: 10px;
        font-size:large;
        font-family: fantasy;
    
    }
    .center{
        display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #footer{
        display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    border: 2px solid red;
    padding: 10px;
    background-color:black;
    color: white;  
    
    }
    .p1{
        display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;

    }
