
.card{
    cursor: pointer;
}
.navbar-brand > img{
    width: 180px;
    height: 60px;
}
.d{
    padding: 0 !important;
}
.mid{
    margin-top: 250px;
    margin-left: 100px;
    font-size: 5vw !important;
    font-family: 'Times New Roman', Times, serif;
}
.t{
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}
.btn-1{
    background: #fff;
    color: #363636;
    width: 160px;
    margin-left: 100px;
    border-radius: 0;
}
.btn-2{
    margin-top: 800px;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 0;
}
.shop{
    margin-top: 200px;
    margin-left: 20px;
    font-size: 18px;
    color: white;
}
.s{
    margin-top: 180px;
    margin-left: 20px;
    font-size: 18px;
}
.f{
    color: gray;
    font-size: 12px;
    font-style: normal;
    padding: 0 !important;
}
.footer{
    margin: 0 auto;
    padding: 5% 0;
    display: block;
}
input[type="text"]{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
    font-style: normal;
}
.green{
    margin-top: 100PX;
    margin-left: 13%;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.035rem;
    padding-bottom: 2.5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}
.btn-3{
    background: #fff;
    color: #363636;
    border: solid 1px #efefef;
    margin-top: 100px;
    margin-left: 200px;
    padding: 8px 80px ;
    text-decoration: none;
    border-radius: 0;
}
.w{
    margin: 0;
    width: 41%;
    float: left;
    position: relative;
    top: 15%;
    font-size: 28px;
    text-transform: none;
    text-decoration: none;
font-family: 'Times New Roman', Times, serif;
margin-left: 4%;
}
.logo{
    display: block;
    height: auto;
    width: 100%;
    position: relative;
    background-size: cover;
}
.tx{
    text-align: center;
    padding: 4rem;
    color: #363636;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    margin-top: 0;
    letter-spacing: 0.035rem;
    font-size: 38px;
}
.wrapper{
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.logo{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    position: relative;
    float: none;
}
.l{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    position: relative;
    float: none;
    margin-right: 5%;
}
.social{
    display: block;
    height: auto;
    position: relative;
    margin-left: 5%;
    margin-top: 200px;
}
.group{
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.wrap{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}
h3{
    font-size: 28px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    letter-spacing: 0.035rem;

}
.des{
    font-size: 16px;
    font-weight: 200;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #363636;
    margin-top: 25px;
}
.border-bottom{
    border-bottom: 2px solid black;
    padding: 10px;
    width: 40%;
}
#mc{
    margin-top: 3rem;
    min-width: 20%;
    background-color: whitesmoke;
}
.btn-gray{
    color: #363636;
    background: #efefef;
    border: 1px solid #efefef;
    padding: 0.7rem 2rem;
    letter-spacing: 0.05rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar-nav{
    width: 30%;
    float: right;
}
.fit{
    display: block;
    width: calc(100% - (5%*2));
    margin: 0 auto;
}

#d1 {
    object-fit: cover;
}